<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="theCoach" class="org.example.model.BasketBallCoach">
<constructor-arg name="fortuneService" ref="myFortuneService"></constructor-arg>
</bean>
<bean name="c" class="org.example.model.Car"></bean>
<bean name="myFortuneService" class="org.example.model.HappyFortuneService"></bean>

<bean name="p" class= "org.example.model.Person">
<constructor-arg name ="firstName" value="John"/>
<constructor-arg name ="lastName" value ="Doe"/>
<constructor-arg name="address" ref="a"/>
</bean>

<bean name="a" class = "org.example.model.Address"> 
<constructor-arg name="line1" value="kolkota"/>
<constructor-arg name="line2" value="india"/>
</bean>
</beans>
