<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<display-name>MyServlet</display-name>
  	<description></description>
  	<servlet-class>org.example.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddLeagueViewServlet</servlet-name>
  	<display-name>AddLeagueViewServlet</display-name>
  	<description></description>
  	<servlet-class>org.example.view.AddLeagueViewServlet</servlet-class>
  	<init-param>
  	 <param-name>seasons</param-name>
  	 <param-value>Summer,Winter,Autumn,Rainy</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>AddLeagueController</servlet-name>
  	<display-name>AddLeagueController</display-name>
  	<description></description>
  	<servlet-class>org.example.controller.AddLeagueController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuccessServlet</servlet-name>
  	<display-name>SuccessServlet</display-name>
  	<description></description>
  	<servlet-class>org.example.view.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/list_leagues.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLeagueViewServlet</servlet-name>
  	<url-pattern>/add_league.view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLeagueController</servlet-name>
  	<url-pattern>/add_league.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccessServlet</servlet-name>
  	<url-pattern>/success.view</url-pattern>
  </servlet-mapping>
</web-app>
